@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,span,article,input,button,a {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

input {
    font-size: 16px !important;
    font-family: "Exo 2", sans-serif !important;
    font-optical-sizing: auto !important;
    font-style: normal !important;
}